*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-base: #090909;
  --bg-surface: #0f0f0f;
  --bg-elevated: #151515;
  --bg-hover: #1c1c1c;

  --border-dim: #1e1e1e;
  --border-mid: #2a2a2a;
  --border-bright: #444444;

  --text-primary: #e8e8e8;
  --text-secondary: #888888;
  --text-dim: #444444;
  --text-white: #ffffff;

  --accent-active: #4a9a6a;

  --font-mono: 'Space Mono', monospace;
  --font-sans: 'DM Sans', sans-serif;

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: var(--bg-base);
  color: var(--text-primary);
  font-family: var(--font-sans);
  font-size: 14px;
  -webkit-font-soothing: antialiased;
}

button { cursor: pointer; font-family: var(--font-sans);}
input { font-family: var(--font-sans); }

::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: var(--border-mid);  
  border-radius: 2px;
}